.admin-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.admin-container h1{
    margin-bottom: 20px;
}

btn-logout{
    position: absolute;
    bottom: 6%;
    left: 4px;
    height: 60px;
    width: 60px;
    border-radius:30px;
    border:0;
    font-weight: bold;
    background-color: rgba(219,38,41, 0.35);
    color: #fafafa;
    transition: all 0.5s;
}

.btn-logout:hover{
    background-color:
    rgba(219,38,41,1);
    color: #fff
}